<!DOCTYPE html>
<html>
<head>
<title>This is the homepage!</title>
</head>
<body>

<h1>Welcome to the homepage!</h1>
<p> <%= link_to "Alpha Blog", articles_path %> | <%= link_to "check out the about us page!", about_path %></p>

</body>
</html>